# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

config SHIELD_SOFLE_T_LEFT
    def_bool $(shields_list_contains,sofle_t_left)

config SHIELD_SOFLE_T_RIGHT
    def_bool $(shields_list_contains,sofle_t_right)