/*
 * Pin override for damaged P1.06/P1.11 pins from ESD event
 * Remap damaged pins to unused OLED pins
 */

&pro_micro {
    gpio-map = <5 0 &gpio0 13 0>,   // D5 - Row 0
               <6 0 &gpio0 24 0>,   // D6 - Row 1
               <7 0 &gpio0 9 0>,    // D7 - Row 2  
               <8 0 &gpio0 10 0>,   // D8 - Row 3
               <9 0 &gpio0 8 0>,    // D9 -> D0 (Row 4, was P1.06)
               <10 0 &gpio0 6 0>,   // D10 -> D1 (Col 5, was P1.11)
               <14 0 &gpio0 3 0>,   // D14 - Col 3
               <15 0 &gpio1 13 0>,  // D15 - Col 2
               <16 0 &gpio0 28 0>,  // D16 - Col 4
               <18 0 &gpio0 2 0>,   // D18 - Col 1
               <19 0 &gpio0 29 0>;  // D19 - Col 0
};